<%= form_with scope: :user, url: signup_path, local: true do |f| %>

  <% unless @user.errors.empty? %>
    <ul class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create account", class: "btn btn-primary form-control" %>
  </div>

<% end %>