<div class="container">
  <% if current_user == @user %> <div class="row"> <% end %>

    <% if current_user == @user %>
      <div class="col-md-8">
    <% else %>
      <div class="col-md">
    <% end %>

      <% if current_user == @user && logged_in? %>
        <h1>Hello, <%= @user.name %></h1>
      <% else %>
        <h1><%= @user.name %></h1>
      <% end %>

      <% if @upcoming_events.empty? && @past_events.empty? %>
        <p>Hmm... <%= @user.name %> hasn't created any events yet.</p>
      <% else %>
        <%= render "shared/event_list" %>
      <% end %>
      </div>

      <% if current_user == @user %>
        <div class="col-md-4">
          <h2>Pending invitations</h2>
          <% unless @pending_invitations.empty? %>
            <%= render @pending_invitations %>
          <% else %>
            <p>You have no pending invitations.</p>
          <% end %>
        </div>
      <% end %>

  <% if current_user == @user %> </div> <% end %>
</div>
